.body{
    display: flex;
}

.body__left{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.body__right{
    width: 55%;
    height: 100%;
}
@media only screen and (max-width:950px){
    .body__right{
        display: none;
    }
    .body__left{
        width: 100%;
    }
}